.macbook {
  scale: 0.6 0.6;
  position: relative;
  top: -22%;
}

body {
  aspect-ratio: 1920/2368;
}
.pil {
  scale: 0.07 0.07;
  position: relative;
  top: -92%;
  animation-duration: 1s;
  animation-name: pil-ani;
  animation-iteration-count: infinite;
}
@keyframes pil-ani {
  from {
    scale: 0.06 0.06;
  }
  to {
    scale: 0.07 0.07;
  }
}

.studiestart {
  position: relative;
  scale: 0.7 0.7;
  top: -145%;
  filter: brightness(1);
  transition: transform 0.3s ease, filter 0.3s ease; /* Smooth transition for effects */
}
.studiestart:hover {
  transform: scale(1.1); /* Forstørrer billedet lidt */
  filter: brightness(1); /* Gør billedet lidt lysere */
}

.tikimedia {
  position: relative;
  scale: 0.7 0.7;
  top: -140%;
}

.surdej {
  position: relative;
  scale: 0.7 0.7;
  top: -145%;
  filter: brightness(1);
  transition: transform 0.3s ease, filter 0.3s ease; /* Smooth transition for effects */
}
.surdej:hover {
  transform: scale(1.1); /* Forstørrer billedet lidt */
  filter: brightness(1); /* Gør billedet lidt lysere */
}
.spil {
  position: relative;
  scale: 0.7 0.7;
  top: -145%;
  filter: brightness(1);
  transition: transform 0.3s ease, filter 0.3s ease; /* Smooth transition for effects */
}
.spil:hover {
  transform: scale(1.1); /* Forstørrer billedet lidt */
  filter: brightness(1); /* Gør billedet lidt lysere */
}

h1,
h2 {
  text-align: center;
  position: relative;
  top: -150%;
}
h1 {
  font-size: 8rem;
}
h2 {
  font-size: 2rem;
}

.tikimedia {
  position: relative;
  scale: 0.7 0.7;
  top: -145%;
  transition: transform 0.3s ease, filter 0.3s ease; /* Smooth transition for effects */
}

.tikimedia:hover {
  transform: scale(1.1); /* Forstørrer billedet lidt */
  filter: brightness(2); /* Gør billedet lidt lysere */
}

/* #mineprojektermeny {
  color: rgb(148, 0, 1);
}

#mineprojektermeny a:hover {
  color: rgba(148, 0, 1, 0.5);
} */
/* #marginminus {
  margin-bottom: -130rem;
} */

@media screen and (max-width: 800px) {
  h1 {
    font-size: 4.2rem;
  }
}
