.gif {
  scale: 0.6 0.6;
  position: relative;
  top: -12rem;
}
.flyt {
  margin-top: -24rem;
}
body {
  aspect-ratio: 1920/2368;
}
#linkt3 {
  width: 350px;
  place-self: center;
}

@media screen and (max-width: 800px) {
  body {
    background-image: url(../img-webp/mobilbaggrund.webp);
    background-size: cover;
    overflow: auto;
    width: 100%;
    aspect-ratio: 390/844;
    position: relative;
    top: 0;
    left: 0;
  }
  h5 {
    position: relative;
    top: 1rem;
    margin-bottom: 4rem;
  }
  .gif {
    margin-top: 7rem;
    margin-bottom: -13rem;
  }
  .grid_4col {
    display: none;
  }
  .displaynone {
    display: none;
  }
  img {
    margin-bottom: 2rem;
  }
  p {
    margin-bottom: 2rem;
  }

  h1 {
    margin-bottom: 1rem;
    margin-top: 6rem;
  }
  h2 {
    margin-bottom: 3rem;
  }
  .remove {
    display: none;
  }
}
