.img1og2 {
  margin-top: -1rem;
}
/* #center {
  margin-left: 15rem;
  margin-right: 15rem;
} */
#h2flyt {
  margin-top: 1rem;
}
.grid_3col {
  margin-left: 15rem;
  margin-right: 15rem;
}
.minmacmobil {
  scale: 0.7 0.7;
  position: relative;
  top: -10rem;
}
/* .minmacdescp {
  scale: 0.9 0.9;
} */

#flytop {
  position: relative;
  top: -17rem;
}
