/* #mineprojektermeny { */
/* color: rgb(148, 0, 1);
}

#mineprojektermeny a:hover {
  color: rgba(148, 0, 1, 0.5);
} */
body {
  aspect-ratio: 1920/2368;
}

@media screen and (max-width: 800px) {
  body {
    background-image: url(../img-webp/mobilbaggrund.webp);
    background-size: cover;
    overflow: auto;
    width: 100%;
    aspect-ratio: 390/844;
    position: relative;
    top: 0;
    left: 0;
  }
  img {
    margin-bottom: 3rem;
  }
  body {
    padding: 1rem;
  }
  #tiki img {
    margin: 0;
    width: 450px;
    place-self: center;
  }
  .grid_3col {
    padding-bottom: 2rem;
  }
  p {
    margin-bottom: 2rem;
  }
  h5 {
    position: relative;
    top: 2rem;
    margin-bottom: 6rem;
  }
  .img {
    height: 125x;
    width: 300px;
  }
  h1 {
    margin-bottom: 1rem;
    margin-top: 6rem;
  }
  h2 {
    margin-bottom: 2rem;
    margin-top: 5rem;
  }
  p {
    margin-bottom: 1rem;
  }
  #span2 {
    display: none;
  }
}
.img {
  aspect-ratio: 400/250;
  /* height: 350x;
  width: 600px; */
}
#span2 {
  grid-row: 1;
  grid-column: span 2;
  margin-left: 17rem;
  margin-right: 17rem;
  margin-bottom: 3rem;
}
.hover {
  filter: brightness(1);
  transition: transform 0.3s ease, filter 0.3s ease;
}
.hover:hover {
  transform: scale(1.1); /* Forstørrer billedet lidt */
  filter: brightness(1);
}

#deforskeligesider img {
  width: 100%;
  aspect-ratio: 2.5/1.5; /* Gør billederne kvadratiske */
  object-fit: cover;
}
