/* #mineprojektermeny { */
/* color: rgb(148, 0, 1);
}

#mineprojektermeny a:hover {
  color: rgba(148, 0, 1, 0.5);
} */
body {
  aspect-ratio: 1920/2368;
}

@media screen and (max-width: 800px) {
  img {
    margin-bottom: 3rem;
  }
  body {
    padding: 1rem;
  }
  #tiki img {
    margin: 0;
    width: 450px;
    place-self: center;
  }
  .grid_3col {
    padding-bottom: 2rem;
  }
  p {
    margin-bottom: 2rem;
  }
  h5 {
    position: relative;
    top: 2rem;
    margin-bottom: 6rem;
  }
  .img {
    height: 125x;
    width: 300px;
  }
}
.img {
  height: 350x;
  width: 600px;
}

#deforskeligesider img {
  width: 100%;
  aspect-ratio: 2.5/1.5; /* Gør billederne kvadratiske */
  object-fit: cover;
}
