/* styling af body og tekst samt grids */
body {
  aspect-ratio: 1920/2368;
}
#h2flyt {
  margin-top: 1rem;
}
.grid_3col {
  margin-left: 15rem;
  margin-right: 15rem;
}
#flytop {
  position: relative;
  top: -17rem;
  margin-bottom: -10rem;
}
.minmacmobil {
  scale: 0.7 0.7;
  position: relative;
  top: -10rem;
}
p {
  margin-bottom: 1rem;
}
#linkt2 {
  width: 350px;
  place-self: center;
}
.img1og2 {
  margin-top: -1rem;
  width: 300px;
}
@media screen and (max-width: 800px) {
  body {
    background-image: url(../img-webp/mobilbaggrund.webp);
    background-size: cover;
    overflow: auto;
    width: 100%;
    aspect-ratio: 390/844;
    position: relative;
    top: 0;
    left: 0;
  }
  h5 {
    position: relative;
    top: 2rem;
    margin-bottom: 6rem;
    max-width: 400px;
    margin-left: 3rem;
    width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
  }
  .img1og2 {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }
  .dispaynone,
  .minmacdescp,
  .minmacmobil {
    display: none;
  }
  .grid_2col img {
    place-self: center;
  }
  #flytop {
    position: relative;
    top: 2rem;
    margin-bottom: 6rem;
  }
  footer {
    margin-top: 4rem;
    margin-bottom: -1rem;
  }
  h1 {
    margin-bottom: 1rem;
    margin-top: 6rem;
  }
  h2 {
    margin-bottom: 2rem;
  }
  p {
    margin-bottom: 1rem;
  }
}
