.img1og2 {
  margin-top: -1rem;
  width: 300px;
}
/* #center {
  margin-left: 15rem;
  margin-right: 15rem;
} */
body {
  aspect-ratio: 1920/2368;
}
#h2flyt {
  margin-top: 1rem;
}
.grid_3col {
  margin-left: 15rem;
  margin-right: 15rem;
}
.minmacmobil {
  scale: 0.7 0.7;
  position: relative;
  top: -10rem;
}
/* .minmacdescp {
  scale: 0.9 0.9;
} */

#flytop {
  position: relative;
  top: -17rem;
  margin-bottom: -10rem;
}
p {
  margin-bottom: 1rem;
}
@media screen and (max-width: 800px) {
  h5 {
    position: relative;
    top: 2rem;
    margin-bottom: 6rem;
    max-width: 400px;
    margin-left: 3rem;
    width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
  }
  .img1og2 {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }
  .dispaynone,
  .minmacdescp,
  .minmacmobil {
    display: none;
  }
  .grid_2col img {
    place-self: center;
  }
  #flytop {
    position: relative;
    top: 2rem;
    margin-bottom: 6rem;
  }
  footer {
    margin-top: 4rem;
    margin-bottom: -1rem;
  }
}
