@media screen and (max-width: 800px) {
  .dolk {
    scale: 0.4 0.4;
    position: relative;
    top: -25%;
  }
  .gift {
    scale: 0.5 0.5;
    position: relative;
    top: -5%;
  }
  .pistol {
    rotate: 90deg;
    position: relative;
    top: 15%;
  }
  .modgift {
    scale: 1.4 1.4;
    position: relative;
    top: 5%;
  }
}
body {
  padding-right: 1rem;
  padding-left: 1rem;
}
/* styling af ui elementer i grid */
.grid_4col {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.dolk {
  scale: 0.3 0.3;
  position: relative;
  top: -25%;
}
.gift {
  scale: 0.4 0.4;
  position: relative;
  top: -5%;
}
.pistol {
  position: relative;
  top: -30rem;
}
.modgift {
  scale: 1.4 1.4;
  position: relative;
  top: -40rem;
}

p {
  margin-bottom: 1rem;
}

h2 {
  margin-top: 3rem;
}

.skerme {
  position: relative;
  top: -35rem;
}

.teknik {
  position: relative;
  top: -30rem;
}
#teknik {
  margin-top: -0.3%;
}

.order-1 {
  order: 2;
}
